
<div class="row">
  <div class="col-md-2">
    <img class="normal" alt="pic" src="<%= customer.subscriber.profilePic ? customer.subscriber.profilePic : 'http://guidonpartners.com/wp-content/uploads/sites/15/2014/09/unknown.jpg' %>" />
  </div>
  <div class="col-md-10">
      <span class="float-style"><b>Customer ID:</b> <%= customer.customerId %></span>
      <span><h3><%= customer.firstName %> <%= customer.lastName %></h3></span>
      <span class="normal"><i class="la la-institution"></i>&nbsp;<%= customer.company.companyName %></span>
      <span class="normal">
        <% if (customer.subscriber && customer.subscriber.gender === 'female') { %>
        <i class="la la-female"></i>
          &nbsp;<%= customer.subscriber.gender %></span>
        <% } else if (customer.subscriber && customer.subscriber.gender === 'male') { %>
          <i class="la la-male"></i>
          &nbsp;<%= customer.subscriber.gender %></span>
        <% } %>
      <span class="normal">
        <% if (customer.subscriber) { %>
          <i class="la la-globe"></i>&nbsp;<%= customer.subscriber.locale %>
        <% } %>
      </span>
  </div>
</div>
