
<div class="row row-style">
  <% let data = Object.keys(details)
  for (let i = 0; i < data.length; i+=4) {%>
    <%- include('../pages/detailItem', { keyField: data[i], keyFieldValue: details[data[i]] }); %>
    <% if (data[i+1]) { %>
      <%- include('../pages/detailItem', { keyField: data[i+1], keyFieldValue: details[data[i+1]] }); %>
    <% } %>
    <% if (data[i+2]) { %>
      <%- include('../pages/detailItem', { keyField: data[i+2], keyFieldValue: details[data[i+2]] }); %>
    <% } %>
    <% if (data[i+3]) { %>
      <%- include('../pages/detailItem', { keyField: data[i+3], keyFieldValue: details[data[i+3]] }); %>
    <% } %>
  <% } %>
  <%- include('./modal'); %>
</div>
