<div class="col-md-3 col-margin-style">
    <div>
      <span class="font-style">
        <%= keyField %>:&nbsp;
        <i data-toggle='modal' data-target='#m_modal_1_2' class="fa fa-edit i-style" onclick="edit('<%= keyField %>', '<%= keyFieldValue %>' )"></i>
      </span>
      <br />
      <span id="<%= keyField %>"><%= keyFieldValue %></span>
    </div>
</div>
